# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled
*.class
*.jar
!.mvn/wrapper/*.jar

# Spring Boot
*.pid

# H2
*.db

# Zip files
*.zip
*.claude